.cd-header {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  min-height: 60px;
  height: 60px;
  background: var(--header-color);
  z-index: 188;

  &.header_margin {
    margin-bottom: 30px;
  }

  &.border_bottom {
    border-bottom: 1px solid var(--border-header);
  }
}

.header__guest {
  height: 100%;
}

.logo_h {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: background 200ms ease;
  @media (hover: hover) {
    &:hover {
      background: rgba(var(--color-primary-rgb), .04);
    }
  }

  &:focus-within {
    background: rgba(var(--color-primary-rgb), .04);
  }
}

.logo__header {
  width: 28px;
  height: 28px;

  svg {
    width: 100%;
    object-fit: cover;
  }
}

.search__input {
  background: var(--input-bg);
  //border-radius: 4px;
  overflow: hidden;
  transition: box-shadow 150ms ease;

  &:focus-within {
    box-shadow: 0 0 0 0.15rem rgba(var(--color-font-rgba), .2);
  }
}

.input_s {
  input {
    color: var(--color-font) !important;
    font-variation-settings: var(--f-regular);
    font-style: normal;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 8px;
  }
}

.btn__search {
  cursor: pointer;
  padding: 8px 16px;
  line-height: 0;
}

.buttons-guest {
  text-align: right;
}

.logo, .buttons-guest {
  flex: 1;
}

.search-bar {
  flex: 1.5;
  @media only screen and (max-width: 580px) {
    & {
      display: none;
    }
  }
}

.profile_avatar {
  border-radius: 50%;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  background: var(--home-container);

  &.open ~ .right_submenu {
    display: block;
  }
  img {
    width: 100%;
  }
}

.right_submenu {
  display: none;
  &:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent var(--home-container) transparent;
  }
}

.sub_menu-header {
  min-width: 230px;
  top: calc(100% + 10px);
  right: 0;
  z-index: 10;
  background: var(--home-container);
  border-radius: 4px;
  padding: 20px 0 !important;

  &-link {
    padding: 12px 25px;
    display: block;
    vertical-align: middle;

    .theme-switch {
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--_hover);
      border-radius: 6px;
    }

    @media (hover: hover) {
      &:hover {
        background: var(--bg-page);
      }
    }
  }
}


