.cd-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-height: 60px;
  height: 60px;
  background: var(--header-color);
  z-index: 88;

  &.header_margin {
    margin-bottom: 40px;
  }

  &.border_bottom {
    border-bottom: 1px solid var(--border-header);
  }
}

.header__guest {
  height: 100%;
}

.logo__header {
  width: 28px;
  height: 28px;

  svg {
    width: 100%;
    object-fit: cover;
  }
}

.search__input {
  background: var(--input-bg);
  border-radius: 4px;
  overflow: hidden;
}

.input_s {
  input {
    color: var(--color-font) !important;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px;
  }
}

.btn__search {
  cursor: pointer;
  padding: 8px 16px;
}

.buttons-guest {
  text-align: right;
}

.logo, .buttons-guest {
  flex: 1;
}

.search-bar {
  flex: 1.5;
  @media only screen and (max-width: 580px) {
    & {
      display: none;
    }
  }
}


