<!--<cd-header marginHeader="true"></cd-header>-->
<div class="container" *ngIf="user">
  <div class="display-flex top_profile w-100">
    <div class="profile_image">
      <img [src]="'https://api.adorable.io/avatars/285/' + user?.username" class="object-cover" width="100%" height="100%" draggable="false" alt="">
    </div>
    <div class="profile_side flex-1">
      <div class="display-flex a-items-center j-space-between">
        <h4 class="profile_username">{{user?.username}}</h4>

        <div class="" *ngIf="user?.isMyProfile">
          <cd-button [showIcon]="true"
                     iconName="edit"
                     [text]="'Edit your profile' | translate"
                     borderRadius="4"
                     [classNames]="'cd-btn-inline cd-btn-small cd-btn-primary font-medium'"
                     routerLink="/settings/account"></cd-button>
        </div>
      </div>
      <h5 class="profile_name font-size_16">{{user?.first_name + ' ' + user?.last_name}}</h5>
      <p class="profile_bio">
        <span *ngIf="user.profile">
          {{user?.profile?.biography ? user?.profile?.biography : 'No bio available at this moment 🤷‍♀️🤷‍♂️'}}
        </span>
      </p>
    </div>
  </div>
  <div class="tabs-profile">
    <div class="grid_posts">
      <div class="grid-item" *ngFor="let p of items; let i = index">
        <!--        <div style="background:purple;height:220px;">-->

        <!--        </div>-->
        <div class="image-grid">
          <img [src]="p.img" width="100%" height="100%" style="object-position: top; object-fit: cover;" alt="">
          <cd-button
            [showIcon]="true"
            [textBtn]="false"
            [iconSize]="16"
            [iconName]="'icon-heart'"
            [classNames]="'btn-svg-icon bookmark_button'">
          </cd-button>
        </div>
        <div class="display-flex a-items-center j-space-between bottom_post">
          <div class="display-flex w-100">
            <div class="avatar-image">
              <img [src]="'https://api.adorable.io/avatars/285/' + user?.email" class="object-cover" width="100%" height="100%" draggable="false" alt="">
            </div>
            <div class="ml-2 flex-1 text_card" [ngClass]="classColumns ? 'font-size_14': 'font-size_16'">
              <p class="cd-link card-title">{{p.title}}</p>
              <a class="cd-link font-size_12" style="opacity: .7;">{{user?.username}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<cd-footer></cd-footer>-->
