<div class="container">
  <p>login works!</p>
  <h1 class="heading heading-headline">{{'HELLO' | translate}}</h1>
  <h1 class="heading heading-title">{{'SignIn.facebook' | translate}}</h1>
  <h1 class="heading heading-subtitle">-Wanderlust</h1>
  <cd-button [text]="'Download'"></cd-button>
  <cd-button
    [showIcon]="false"
    [textBtn]="true"
    [classNames]="'cd-btn-block cd-btn-primary'"
    text="{{'SignIn.facebook' | translate}}">
  </cd-button>
  <cd-button
    [showIcon]="true"
    [textBtn]="false"
    [classNames]="'btn-svg-icon cd-btn-outline cd-btn-dark'">
  </cd-button>

</div>
