<ng-template [ngIf]="user">
  <form action="" [formGroup]="work" (ngSubmit)="onSubmit()">
    <div class="cd-form-group">
      <label for="" class="filter-label font-size_14 mb-2 d-inline-block">Preferred Job</label>

      <ng-select class="mb-2 ng-select_made font-size_12"
                 placeholder="Select preferred job"
                 [items]="developer"
                 bindLabel="name"
                 formControlName="preferred_job"
                 [searchable]="false">
      </ng-select>
<!--      <ng-template [ngIf]="user.type === 1">-->
<!--      </ng-template>-->

    </div>

    <div class="cd-form-group">
      <label for="" class="filter-label font-size_14 mb-2 d-inline-block">Work Status</label>

      <ng-select class="mb-2 ng-select_made font-size_12"
                 placeholder="What is your work status"
                 [items]="workStatus"
                 bindLabel="name"
                 formControlName="work_status"
                 [searchable]="false">
      </ng-select>
<!--      <ng-template [ngIf]="user.type === 1">-->
<!--      </ng-template>-->

    </div>

    <div class="cd-form-group">
      <label for="" class="filter-label font-size_14 mb-2 d-inline-block">Work Availability</label>

      <ng-select class="mb-2 ng-select_made font-size_12"
                 placeholder="Are you available for work"
                 [items]="['Available', 'Unavailable']"
                 bindLabel="id"
                 formControlName="work_availability"
                 [searchable]="false">
      </ng-select>
<!--      <ng-template [ngIf]="user.type === 1">-->
<!--      </ng-template>-->

    </div>

    <div class="text_left">
      <button type="submit" class="unset-css">
        <cd-button [showIcon]="false" [text]="'Save changes'"
                   [classNames]="'cd-btn-inline cd-btn-small cd-btn-primary font-medium'"></cd-button>
      </button>
    </div>
  </form>
</ng-template>
