/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
}

body {
  min-height: 100vh!important;
  height: 100%!important;
}

html, body {
  @include scrollbar;
  scrollbar-width: large;
}

*::before,
*::after {
  box-sizing: inherit;
}
