body, html {
  height: 100%;
}

.half_size-margin-auto {
  max-width: 50%;
  margin: 0 auto;
}

.avatar-image {
  width: 16px;
  height: 16px;
  border-radius: 50%!important;
  overflow: hidden;
}

.pointer_link {
  cursor: pointer;
}

