$list: Blacki, BlackItalic, Bold, BoldItalic, Italic, Light, LightItalic, Medium, MediumItalic, Thin, ThinItalic, Regular;

h1, h2, h3, h4, h5, h6, span, p, a, b, strong, i, link, ul, li {
  margin: 0;
  list-style: none;
  padding: 0;
}
