<!--<cd-header marginHeader="true"></cd-header>-->
<!--<div class="modal_fixed w-100" *ngIf="showModal" [ngClass]="showModal ? 'modal_showing': ''">-->
<!--  <h1 class="heading heading-sub">Drafts</h1>-->
<!--  <div class="items_container">-->
<!--    <a class="d-block modal_item" *ngFor="let g of drafts; let i = index" [ngClass]="{'modal_item-active': selectedItem === i}"-->
<!--       (click)="selectedItem = i">-->
<!--      {{g.title_project}}-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="">-->
<!--    <div class="display-grid footer_content text_center">-->
<!--      <button class="unset-css" (click)="showModal = false">-->
<!--        <cd-button [showIcon]="false" borderRadius="4" [text]="'Cancel'"-->
<!--                   [classNames]="'cd-btn-inline cd-btn-small btn-clear font-medium'"></cd-button>-->
<!--      </button>-->
<!--      <cd-button-->
<!--        (click)="clickProject(selectedItem)"-->
<!--        [showIcon]="false"-->
<!--        [textBtn]="true"-->
<!--        [classNames]="'cd-btn-block font-medium cd-btn-tertiary  cd-btn-small'"-->
<!--        text="Continue" [maxWidth]="true" borderRadius="8">-->
<!--      </cd-button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="container">
  <form [formGroup]="createShot" enctype="multipart/form-data">
    <div class="form-grid">
      <div class="image-preview">
        <ngx-dropzone class="w-100 h-100 dropzone_cover" (change)="previewCover($event)" accept="image/*">
          <ngx-dropzone-label>Upload your design cover!</ngx-dropzone-label>
          <ngx-dropzone-image-preview *ngIf="imagePreview" class="ngx-image_preview" ngProjectAs="ngx-dropzone-preview"
                                      (click)="this.imagePreview = null" (removed)="this.imagePreview = null"
                                      [removable]="true"
                                      [file]="imagePreview">
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>
      <div class="inputs-group">
        <label for="project_name" class="d-inline-block mb-2 pointer_link font-size_14">Project Title</label>
        <div class="cd-form-group">
          <input type="text" autocomplete="off" class="cd__input input__small" id="project_name"
                 placeholder="Type your project title" formControlName="title_project">
        </div>
        <label for="" class="d-inline-block mb-2 pointer_link font-size_14">Project Description</label>
        <div class="cd-form-group textarea_input">
          <textarea class="cd__input input__small" placeholder="Type your project description"
                    formControlName="desc_project"
          ></textarea>
        </div>
        <label for="">Select the tool</label>
        <div class="cd-form-group">
          <ng-select class="mt-2 mb-2 ng-select_made font-size_14"
                     [items]="people"
                     bindLabel="name"
                     placeholder="Select a tool"
                     formControlName="selected_tool"
                     [searchable]="false"
                     [loading]="peopleLoading">
          </ng-select>
        </div>
        <div class="cd-form-group">
          <ngx-dropzone class="w-100 h-100 ngx_dropzone" multiple="true" (change)="preview($event)" id="files_zip"
                        [accept]="'.xd, .sketch, .pdf, .psd, .ai'">
            <ngx-dropzone-label>Upload your folder file!</ngx-dropzone-label>
            <ngx-dropzone-preview class="files_drag" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)"
                                  style="min-width:140px!important; max-width: 200px!important; ">
              <ngx-dropzone-label class="no-margin">
                <div class="display-flex a-items-center text_left">
                  <svg-icon *ngIf="getExtension(f) === 'xd'" fileName="icons" [icon]="'file-xd'"
                            size="35"></svg-icon>
                  <svg-icon *ngIf="getExtension(f) === 'sketch'" fileName="icons" [icon]="'file-sketch'"
                            size="35"></svg-icon>
                  <svg-icon *ngIf="getExtension(f) === 'pdf'" fileName="icons" [icon]="'file-pdf'"
                            size="35"></svg-icon>
                  <svg-icon *ngIf="getExtension(f) === 'png'" fileName="icons" [icon]="'file-png'"
                            size="35"></svg-icon>
                  <svg-icon *ngIf="getExtension(f) === 'ai'" fileName="icons" [icon]="'file-ai'"
                            size="35"></svg-icon>
                  <svg-icon *ngIf="getExtension(f) === 'svg'" fileName="icons" [icon]="'file-svg'"
                            size="35"></svg-icon>
                  <svg-icon *ngIf="getExtension(f) === 'txt'" fileName="icons" [icon]="'file-txt'"
                            size="35"></svg-icon>
                  <svg-icon *ngIf="getExtension(f) === 'psd'" fileName="icons" [icon]="'file-psd'"
                            size="35"></svg-icon>
                  <p class="ml-2">{{getFileName(f) }}</p>
                </div>
              </ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="upload-progress">
  <div class="position-relative display-flex a-items-center">
    <div class="image-upload overflow-hidden">
      <img [src]="imagetoPreview" width="40px" height="40px" class="object-cover" alt="">
    </div>
    <div>
      <h1 class="heading font-size_18">Uploading {{uploadedProgress}}%</h1>
    </div>
  </div>
</div>

<div class="footer-form_submit">
  <div class="display-grid footer_content text_center">
    <cd-button [showIcon]="false" borderRadius="4" [text]="'Cancel'"
               [classNames]="'cd-btn-inline cd-btn-small btn-clear font-medium'"></cd-button>
    <button class="unset-css" (click)="saveToDraft()">
      <cd-button [showIcon]="false" borderRadius="4" [text]="'Save to draft'"
                 [classNames]="'cd-btn-inline cd-btn-small btn-clear font-medium'"></cd-button>
    </button>
    <button class="unset-css" (click)="onSubmit()">
      <cd-button
        [showIcon]="false"
        [textBtn]="true"
        [classNames]="'cd-btn-block font-medium cd-btn-primary cd-btn-small'"
        text="Create your project" [maxWidth]="true" borderRadius="8">
      </cd-button>
    </button>
  </div>
</div>
