.filter-label {
  font-family: var(--f-bold);
  margin: 5px 0;
}

.filters-shots.grid__filter {
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  padding: 20px 0;
  grid-gap: 30px;
  position: relative;
  z-index: 94;

  .grid__filter-item {
    position: relative;
    margin-bottom: 4px;

    &.focused, &:active, &:focus {
      box-shadow: 0 0 0 0.1rem rgba(var(--color-tertiary-rgb), .3) !important;
    }
  }
}

.dropdown-menu_neue {
  letter-spacing: -.31px !important;
  padding: 10px;
  font-family: var(--f-regular);
  cursor: pointer;
  transition: border 200ms ease;
  background: var(--header-color);
  color: var(--font-color) !important;
  border-radius: 4px;

  &, & ~ .dropdown_menu_links {
    font-size: 14px;
    color: var(--color-font);
  }

  & ~ .dropdown_menu_links {
    display: none;
  }

  &:not(.open) ~ .dropdown_menu_links {
    display: none;
  }

  &.open ~ .dropdown_menu_links {
    display: block;
  }

  @media (hover: hover) {
    &:hover {
      background: var(--_hover);
    }
  }
}

.dropdown_menu_links {
  background: var(--header-color);
  display: none;
  position: absolute;
  //top: calc(100% + 4px);
  right: 0;
  left: 0;
  z-index: 7777;

  .filter-option {
    //border-radius: 4px;
  }
}

.filter_grid-option {
  line-height: 34px!important;
}

.filter-option {
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
  font-size: 13px;

  svg-icon {
    line-height: 8px;
  }

  span {
    line-height: 13px;
  }
}

.filter-option {
  &:active {
    //background: var(--color-dark-shade) !important;
    background: var(--_hover);
  }

  @media (hover: hover) {
    &:hover {
      //background: var(--color-dark-shade);
      background: var(--_hover);
    }
  }
}

.grid__columns {
  .filter-option {
    max-height: 34px !important;
    min-height: 34px !important;
    line-height: 44px;
  }
}

.ng-select_made.ng-select-opened > .ng-select-container {
  background: var(--header-color);
}

.ng-select_made.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  outline: none;
  border: 1px solid #fff;
  box-shadow: none;
}

.ng-select_made,
.ng-select-container.ng-has-value .ng-value-container .ng-value,
.ng-select-container.ng-has-value .ng-value-container .ng-input,
.ng-select_made .ng-select-container .ng-value-container .ng-input > input,
.ng-select_made.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  color: var(--color-font) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked
.ng-option-label {
  font-weight: normal;
  font-family: var(--f-regular);
}

.ng-select_made .ng-option.ng-option-selected {
  background: var(--_hover) !important;
}


ng-select, .ng-select_made, .ng-dropdown-panel, .ng-dropdown-panel-items, .admin_SIDEMENU, .items_container {
  @include scrollbar;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  display: none !important;
}

.ng-select .ng-clear-wrapper:hover .ng-clear {
  color: var(--color-danger);
}

.ng-select span.ng-arrow-wrapper:before {
  content: '';
  width: 10px !important;
  height: 10px !important;
  display: none;
  //background: url('https://image.flaticon.com/icons/svg/566/566015.svg') !important;
  background-size: cover !important;
  background-position: center !important;
  display: inline-block !important;
}


.ng-select_made {
  @include scrollbar();
  max-width: 200px;
  background: var(--header-color) !important;

  &:focus {
    outline: none;
  }

  .ng-option {
    background: var(--header-color) !important;
    color: var(--color-font) !important;

    @media (hover: hover) {
      &:hover {
        background: var(--_hover) !important;
      }
    }
  }

  .ng-select-container {
    background: var(--header-color);
  }
}

.ng-dropdown-panel .ng-dropdown-panel-items {
  max-height: 145px !important;
}
