.heading {
  letter-spacing: -.41px;
  text-transform: capitalize;
  font-family: var(--f-p-font);
  font-variation-settings: var(--f-p-bold);
}

.heading-headline {
  font-variation-settings: var(--f-p-black);
  @include fluid('font-size', 320px, 1920px, 30px, 60px);
  @include fluid('line-height', 320px, 1920px, 31px, 61px);

  &.font-inter {
    font-variation-settings: var(--f-black);
  }
}

.heading-title {
  font-variation-settings: var(--f-p-bold);
  @include fluid('font-size', 320px, 1920px, 26px, 54px);
  @include fluid('line-height', 320px, 1920px, 31px, 61px);

  &.font-inter {
    font-variation-settings: var(--f-bold);
  }
}

.heading-subtitle {
  //font-family: var(--f-medium);
  @include fluid('font-size', 320px, 1920px, 22px, 48px);
  @include fluid('line-height', 320px, 1920px, 31px, 61px);

  &.font-inter {
    font-variation-settings: var(--f-medium);
  }
}

.heading-sub {
  //font-family: var(--f-medium);
  @include fluid('font-size', 320px, 1920px, 18px, 40px);
  @include fluid('line-height', 320px, 1920px, 19px, 41px);

  &.font-inter {
    font-variation-settings: var(--f-medium);
  }
}

.heading-six {
  @include fluid('font-size', 320px, 1920px, 18px, 30px);
  @include fluid('line-height', 320px, 1920px, 19px, 31px);

  &.font-inter {
    font-variation-settings: var(--f-medium);
  }
}

.login_headline-welcome {
  font-family: var(--f-eina-regular);
  letter-spacing: -2.4px;
  @include fluid('font-size', 320px, 1300px, 30px, 46px);
  @include fluid('line-height', 320px, 1300px, 40px, 64px);
}
