@media (prefers-color-scheme: dark) {
  :root{
    --color-primary: #FFBB00;
    --color-primary-rgb: 255,187,0;
    --color-primary-font: #000000;
    --color-primary-font-rgb: 0,0,0;
    --color-primary-shade: #ffa600;
    --color-primary-tint: #ffc21a;

    --color-secondary: #a0204c;
    --color-secondary-rgb: 160,32,76;
    --color-secondary-font: #ffffff;
    --color-secondary-font-rgb: 255,255,255;
    --color-secondary-shade: #8d1c43;
    --color-secondary-tint: #aa365e;

    --color-font: #fff;
    --input-bg: #363537;
    --header-color: #282828;
    --bg-page: #252525;
    --color-page: #fff;
  }
}
