<form action="" [formGroup]="account" (ngSubmit)="updateInfo()">
  <ng-template [ngIf]="user">
    <div class="cd-form-group">
      <label for="first-name" class="filter-label font-size_14 mb-2 d-inline-block">First Name</label>
      <input type="text" id="first-name" class="cd__input input__small"
             [placeholder]="'First Name'" formControlName="first_name">
    </div>
    <div class="cd-form-group">
      <label for="first-name" class="filter-label font-size_14 mb-2 d-inline-block">Last Name</label>
      <input type="text" id="last-name" class="cd__input input__small"
             [placeholder]="'Last Name'" formControlName="last_name">
    </div>

    <div class="cd-form-group">
      <label for="biography" class="filter-label font-size_14 mb-2 d-inline-block">Biography</label>
      <textarea formControlName="biography" id="biography" wrap spellcheck="true" class="cd__input input__small w-100 font-size_12" placeholder="A short bio about yourself"></textarea>
    </div>

    <div class="cd-form-group">
      <label for="skills" class="filter-label font-size_14 mb-2 d-inline-block">Skills</label>
      <textarea formControlName="skills" id="skills" wrap spellcheck="true" class="cd__input input__small w-100 font-size_12"
                placeholder="What tools or languages are you most experienced with? Are you specialized or more of a generalist"></textarea>
    </div>

   <div class="text_right">
     <button type="submit" class="unset-css">
       <cd-button [showIcon]="false" [text]="'Save changes'"
                  [classNames]="'cd-btn-inline cd-btn-small cd-btn-primary font-medium'"></cd-button>
     </button>
   </div>
  </ng-template>
</form>
