<form action="" [formGroup]="account" (ngSubmit)="updateInfo()">
  <ng-template [ngIf]="user">
    <div class="cd-form-group">
      <label for="first-name" class="filter-label font-size_14 mb-2 d-inline-block">{{'publicProfile.firstName.name' | translate}}</label>
      <input type="text" id="first-name" class="cd__input input__small"
             [placeholder]="'publicProfile.firstName.placeholder' | translate" formControlName="first_name">
    </div>
    <div class="cd-form-group">
      <label for="first-name" class="filter-label font-size_14 mb-2 d-inline-block">{{'publicProfile.lastName.name' | translate}}</label>
      <input type="text" id="last-name" class="cd__input input__small"
             [placeholder]="'publicProfile.lastName.placeholder' | translate" formControlName="last_name">
    </div>

    <div class="cd-form-group">
      <label for="biography" class="filter-label font-size_14 mb-2 d-inline-block">{{'publicProfile.bio.name' | translate}}</label>
      <textarea formControlName="biography" id="biography" wrap spellcheck="true" class="cd__input input__small w-100 font-size_14"
                [placeholder]="'publicProfile.bio.placeholder' | translate"></textarea>
    </div>

    <div class="cd-form-group">
      <label for="skills" class="filter-label font-size_14 mb-2 d-inline-block">{{'publicProfile.skills.name' | translate}}</label>
      <textarea formControlName="skills" id="skills" wrap spellcheck="true" class="cd__input input__small w-100 font-size_14"
                [placeholder]="'publicProfile.skills.placeholder' | translate"></textarea>
    </div>

   <div class="text_right">
     <button type="submit" class="unset-css">
       <cd-button [showIcon]="false" [text]="('buttons.saveChanges' | translate)"
                  [classNames]="'cd-btn-inline cd-btn-small cd-btn-primary font-medium'"></cd-button>
     </button>
   </div>
  </ng-template>
</form>
