<!--<cd-header [borderBottom]="true" [marginHeader]="!auth"></cd-header>-->


<div class="position-relative" *ngIf="auth">
  <ng-template [ngIf]="auth">
    <div class="filter" style="margin-bottom: 30px;">
      <div class="container">
        <div class="display-grid filters-shots grid__filter no-padding">
          <div class="position-relative">
            <p class="filter-label text_uppercase font-size_12">Timeframe</p>
            <div class="position-relative">
              <div  dropdown dropdown-open [dropdownToggle]="true" (onOpen)="onToggleTable(1)" (onClose)="onToggleTable(-1)"
                    tabindex="4" class="dropdown-menu_neue grid__filter-item" [ngClass]="{'open focused': toggleTable === 1}">
                <span>Recent</span>
              </div>
              <ul class="dropdown_menu_links">
                <li class="filter-option">Recent</li>
              </ul>
            </div>
          </div>
          <div class="position-relative">
            <p class="filter-label text_uppercase font-size_12">Sort By</p>
            <div class="position-relative">
              <div dropdown dropdown-open [dropdownToggle]="true" (onOpen)="onToggleTable(2)" (onClose)="onToggleTable(-1)"
                   tabindex="5" class="dropdown-menu_neue grid__filter-item"
                   [ngClass]="{'open focused': toggleTable === 2}">
                <span>{{labels.sortBy || 'Relevant'}}</span>
              </div>
              <ul class="dropdown_menu_links" [ngClass]="{'d-block': toggleTable === 2 }">
                <li class="filter-option" *ngFor="let s of sortByArr; let i = index;"[routerLink]="['./']"
                    [queryParams]="{ sort: s.query }" queryParamsHandling="merge"
                    [ngClass]="{'filter-option-active': labels.sortBy === s.name}">
                  {{s.name}}
                </li>
              </ul>
            </div>
          </div>
          <div class="position-relative">
            <p class="filter-label text_uppercase font-size_12">Made with</p>
            <div class="position-relative">
              <div dropdown dropdown-open [dropdownToggle]="true" (onOpen)="onToggleTable(3)" (onClose)="onToggleTable(-1)"
                   tabindex="6" class="dropdown-menu_neue grid__filter-item"
                   [ngClass]="{'open focused': toggleTable === 3}">

                <svg-icon fileName="icons" *ngIf="selected.made" [icon]="'icon-' + selected.made.icon" size="16"></svg-icon>
                <span class="text_capitalize" [ngClass]="{'ml-2': selected.made}">
                  {{labels.madeWith || 'All Apps'}}
                </span>

              </div>

              <ul class="dropdown_menu_links">

                <li class="filter-option display-flex a-items-center" *ngFor="let t of tools; let i = index;" [routerLink]="['./']"
                    [queryParams]="{ made: t.query }"
                    [ngClass]="{'filter-option-active': labels.madeWith === t.name}"
                    queryParamsHandling="merge" (click)="labels.madeWith = t.name">
                  <svg-icon fileName="icons" [icon]="'icon-' + t.icon" size="16"></svg-icon>
                  <span class="ml-2 font-size_13">{{t.name}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="position-relative">
            <p class="filter-label text_uppercase font-size_12">Grid Columns</p>
            <div class="position-relative d-block">
              <div dropdown dropdown-open [dropdownToggle]="true" (onOpen)="onToggleTable(4)" (onClose)="onToggleTable(-1)" tabindex="7" class="dropdown-menu_neue grid__filter-item" [ngClass]="{'open focused': toggleTable === 4}">
                <span>Big column</span>
              </div>
              <ul class="dropdown_menu_links text_center overflow-hidden">
                <div class="display-flex a-items-center grid__columns">
                  <li class="filter-option flex-1 filter_grid-option" (click)="toggleColumns(false)">
                    <svg-icon fileName="icons" [icon]="'three-layout'" size="24" fillColor="var(--color-font)"></svg-icon>
                  </li>
                  <li class="filter-option flex-1 text_center d-inline-block filter_grid-option" (click)="toggleColumns(true)">
                    <svg-icon fileName="icons" [icon]="'four-layout'" [size]="'24'" fillColor="var(--color-font)"
                              className="d-inline-block"></svg-icon>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="container" *ngIf="designs">
    <p class="font-size_18 my-4 font-bold">
      Trending projects from creative people
      <small class="label-selected text_uppercase"
             *ngIf="labels?.madeWith" [attr.data-label]="labels?.madeWith.toLowerCase()">
        {{labels.madeWith}}
      </small>
    </p>
    <div class="grid_posts" [ngClass]="{'grid-four-columns': classColumns}"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="infiniteScroll()">
      <div class="grid-item grid_item_showed" *ngFor="let p of designs; let i = index">
        <div class="image-grid position-relative">
          <img [routerLink]="['', 'design', p.slug]"
            [src]="'http://localhost:8000/images/covers/' + p.cover_image" class="object-cover" width="100%" height="100%" alt="">
          <cd-button
            [showIcon]="true"
            [textBtn]="false"
            [iconSize]="16"
            [iconName]="'icon-heart'"
            [classNames]="'btn-svg-icon bookmark_button'">
          </cd-button>
        </div>
        <div class="display-flex a-items-center j-space-between bottom_post">
          <div class="display-flex w-100">
            <div class="avatar-image position-relative overflow-hidden"
                 tooltip-class="tooltip-size" hide-delay="50" [tooltip]="p.name" placement="bottom" show-delay="100">
              <img [src]="'https://api.adorable.io/avatars/285/' + p?.name" class="object-cover" width="100%" height="100%" draggable="false" alt="">
            </div>
            <div class="ml-2 flex-1 text_card" [ngClass]="classColumns ? 'font-size_14': 'font-size_15'">
              <a [routerLink]="['', 'design', p.slug]">
                <p class="position-relative cd-link card-title">
                  {{p.title_project}}
                </p>
              </a>
              <a class="cd-link font-size_12 position-relative d-inline-block card-link" [routerLink]="['../us/', p.username]">
                {{p.name}}
              </a>
            </div>
          </div>
        </div>
      </div>

      <ng-template [ngIf]="designs && designs.length === 0 && !dataAvailable">
        <div class="grid-item" *ngFor="let p of [0,1,2,3,4,5]">
          <div class="image-grid position-relative">
            <cd-skeleton></cd-skeleton>
          </div>
          <div class="display-flex a-items-center j-space-between bottom_post">
            <div class="display-flex w-100">
              <div class="avatar-image position-relative">
                <cd-skeleton></cd-skeleton>
              </div>
              <div class="ml-2 flex-1 text_card">
                <p class="position-relative cd-link card-title card-title_skeleton">
                  <cd-skeleton></cd-skeleton>
                </p>
                <a class="cd-link font-size_12 position-relative d-inline-block card-link card-link_skeleton">
                  <cd-skeleton></cd-skeleton>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

    </div>


    <div class="text_center" *ngIf="_loaderShow">
      <div class="d-inline-block">
        <div class="la-ball-elastic-dots">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

    <div class="text_center mb-2" *ngIf="designs && designs.length === 0 && dataAvailable">
      <div class="empty-state text_center">
        <div class="d-inline-block">
          <div class="empty-icon">
            <span>🤷‍♂️</span>
          </div>
        </div>
        <h1 class="heading text_none">Sorry no results</h1>
      </div>

    </div>
  </div>
</div>

<div class="position-relative" *ngIf="!auth">
  <div class="container_">
    <div class="home_container">
      <div class="container">
        <div class="heading heading-title">Newest releases</div>
        <div class="grid_posts grid-four-columns mt-2 mb-2">
          <div class="grid-item" *ngFor="let p of [0,1,2,3]">
            <div class="image-grid position-relative">
              <cd-skeleton></cd-skeleton>
            </div>
            <div class="display-flex a-items-center j-space-between bottom_post">
              <div class="display-flex w-100">
                <div class="avatar-image position-relative">
                  <cd-skeleton></cd-skeleton>
                </div>
                <div class="ml-2 flex-1 text_card">
                  <p class="position-relative cd-link card-title card-title_skeleton">
                    <cd-skeleton></cd-skeleton>
                  </p>
                  <a class="cd-link font-size_12 position-relative d-inline-block card-link card-link_skeleton">
                    <cd-skeleton></cd-skeleton>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home_container">
      <div class="container">
        <div class="heading heading-title">Most Popular</div>
        <div class="display-flex">
          <div class="_home-section">
            <p class="mt-2">Watch most popular shots on this web application</p>

            <cd-button [showIcon]="false" [text]="'See more'"
                       [classNames]="'cd-btn-inline cd-btn-small cd-btn-primary font-medium mt-4'"
                       routerLink="/login"></cd-button>
          </div>
          <div class="grid_posts grid-four-columns mt-2 mb-2 flex-1">
            <div class="grid-item" *ngFor="let p of [0,1,2]">
              <div class="image-grid position-relative">
                <cd-skeleton></cd-skeleton>
              </div>
              <div class="display-flex a-items-center j-space-between bottom_post">
                <div class="display-flex w-100">
                  <div class="avatar-image position-relative">
                    <cd-skeleton></cd-skeleton>
                  </div>
                  <div class="ml-2 flex-1 text_card">
                    <p class="position-relative cd-link card-title card-title_skeleton">
                      <cd-skeleton></cd-skeleton>
                    </p>
                    <a class="cd-link font-size_12 position-relative d-inline-block card-link card-link_skeleton">
                      <cd-skeleton></cd-skeleton>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home_container">
      <div class="container">
        <div class="heading heading-title">Featured shots</div>
        <div class="grid_posts grid-four-columns mt-2 mb-2">
          <div class="grid-item" *ngFor="let p of [0,1,2,3]">
            <div class="image-grid position-relative">
              <cd-skeleton></cd-skeleton>
            </div>
            <div class="display-flex a-items-center j-space-between bottom_post">
              <div class="display-flex w-100">
                <div class="avatar-image position-relative">
                  <cd-skeleton></cd-skeleton>
                </div>
                <div class="ml-2 flex-1 text_card">
                  <p class="position-relative cd-link card-title card-title_skeleton">
                    <cd-skeleton></cd-skeleton>
                  </p>
                  <a class="cd-link font-size_12 position-relative d-inline-block card-link card-link_skeleton">
                    <cd-skeleton></cd-skeleton>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<cd-footer></cd-footer>-->
