<div class="no-where" [innerHTML]="getInlinedSVG">
</div>
<router-outlet></router-outlet>
<!--<div class="font-size_14 position-fixed dropdown_LANG text_center">-->
<!--  <div class="position-relative pointer_link dropdown_title_LANG" (click)="toggleLang()">-->
<!--    <span>Language</span>-->
<!--  </div>-->
<!--  <div class="position-relative buttons_LANG" *ngIf="dropdownlang">-->
<!--  <div class="font-size_14 position-absolute dropdown_buttons_LANG">-->
<!--    <div class="dropdown_button_LANG pointer_link" (click)="setLanguage('en')">English</div>-->
<!--    <div class="dropdown_button_LANG pointer_link" (click)="setLanguage('de')">German</div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
