<div class="container">
  <div class="cd-footer-grid">
    <div>
      <ul class="footer-column">
        <li class="footer-heading">{{'footer.mainPages.title' | translate}}</li>
        <li>
          <a href="" class="footer-link">{{'footer.mainPages.home' | translate}}</a>
        </li>
        <li><a href="" class="footer-link">{{'footer.mainPages.login' | translate}}</a></li>
        <li><a href="" class="footer-link">{{'footer.mainPages.signUp' | translate}}</a></li>
        <li><a href="" class="footer-link">{{'footer.mainPages.forgotPassword' | translate}}</a></li>
      </ul>
    </div>
    <div>
      <ul class="footer-column">
        <li class="footer-heading">{{'footer.company.title' | translate}}</li>
        <li><a href="" class="footer-link">{{'footer.company.about' | translate}}</a></li>
        <li><a href="" class="footer-link">{{'footer.company.team' | translate}}</a></li>
        <li><a href="" class="footer-link">{{'footer.company.careers' | translate}}</a></li>
        <li><a href="" class="footer-link">{{'footer.company.companyShop' | translate}}</a></li>
      </ul>
    </div>
    <div>
      <ul class="footer-column" >
        <li class="footer-heading">{{'footer.policies.title' | translate}}</li>
        <li><a href="" class="footer-link">{{'footer.policies.privacy' | translate}}</a></li>
        <li><a href="" class="footer-link">{{'footer.policies.safe' | translate}}</a></li>
        <li><a href="" class="footer-link">{{'footer.policies.userGuide' | translate}}</a></li>
        <li><a href="" class="footer-link">{{'footer.policies.terms' | translate}}</a></li>
      </ul>
    </div>
<!--    <div>-->
<!--      <ul class="footer-column">-->
<!--        <li class="footer-heading">{{'footer.follow.title' | translate}}</li>-->
<!--        <li><a href="" class="footer-link">Facebook</a></li>-->
<!--        <li><a href="" class="footer-link">Twitter</a></li>-->
<!--        <li><a href="" class="footer-link">Instagram</a></li>-->
<!--        <li><a href="" class="footer-link">Linkedin</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div>-->
<!--      <ul class="footer-column">-->
<!--        <li class="footer-heading">Top questions</li>-->
<!--        <li><a href="" class="footer-link">What is it?</a></li>-->
<!--        <li><a href="" class="footer-link">Is it free?</a></li>-->
<!--        <li><a href="" class="footer-link">Why choose us?</a></li>-->
<!--      </ul>-->
<!--    </div>-->
  </div>
</div>
