<cd-header [marginHeader]="true"></cd-header>
<div class="container login-container">
  <div class="grid-login">
    <div class="forgot_container text_center">
      <h1 class="heading heading-title font-roboto text_uppercase">Password Reset</h1>
      <p class="mt-2">Enter your <span class="font-black">Codesign</span> email address that you used to register. We'll send you an email with
        the reset link</p>

      <form [formGroup]="forgot" (ngSubmit)="onSubmit()">
        <div class="cd-form-group mt-2">
          <input type="text" class="cd__input input__small"
                 formControlName="email"
                 [placeholder]="'Placeholders.Register.email' | translate">
        </div>

        <button type="submit" class="unset-css">
          <cd-button
            [showIcon]="false"
            [textBtn]="true"
            [classNames]="'cd-btn-inline cd-btn-small cd-btn-primary font-medium'"
            borderRadius="4"
            [text]="'Reset Password'" [maxWidth]="true">
          </cd-button>
        </button>
      </form>
      <p class="font-family-eina">If you still need help, contact <a class="cd-link">Codesign Support.</a></p>
    </div>
  </div>
</div>
<cd-footer></cd-footer>
