<cd-header [marginHeader]="true"></cd-header>
<div class="container login-container">
  <div class="grid-login">
    <div class="forgot_container">
      <h2 class="heading heading-six font-roboto text_none">
        {{'forgot.get_back' | translate}}
      </h2>
      <p class="mt-2">
        {{'forgot.tell' | translate}}
      </p>

      <form [formGroup]="forgot" (ngSubmit)="onSubmit()">
        <div class="cd-form-group no-margin">
          <input type="text" class="cd__input input__small"
                 formControlName="email"
                 [placeholder]="'Placeholders.Register.email' | translate">
        </div>

        <button type="submit" class="unset-css">
          <cd-button
            [showIcon]="false"
            [textBtn]="true"
            [classNames]="'cd-btn-inline cd-btn-small cd-btn-primary font-medium'"
            borderRadius="4"
            [text]="('forgot.button' | translate)" [maxWidth]="true">
          </cd-button>
        </button>
      </form>
      <p class="font-family-eina">{{'needHelp' | translate}} <a class="cd-link">Codesign Support.</a></p>
    </div>
  </div>
</div>
<cd-footer></cd-footer>
