<form action="" [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
  <div class="cd-form-group">
    <label for="first-name" class="filter-label font-size_14 mb-2 d-inline-block">Old Password</label>
    <input type="password" id="first-name" class="cd__input input__small"
           [placeholder]="'Old Password'" formControlName="old_password">
  </div>
  <div class="cd-form-group">
    <label for="first-name" class="filter-label font-size_14 mb-2 d-inline-block">New Password</label>
    <input type="password" id="last-name" class="cd__input input__small"
           [placeholder]="'New Password'" formControlName="new_password">
    <label for="" class="ml-2 font-size_12 d-inline-block text-warning">Minimum 8 characters</label>
  </div>
  <div class="text_right">
    <button type="submit" class="unset-css">
      <cd-button [showIcon]="false" [text]="'Save changes'"
                 [classNames]="'cd-btn-inline cd-btn-small cd-btn-primary font-medium'"></cd-button>
    </button>
  </div>
</form>
