.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.display-flex {
  display: flex!important;

  &.j-space-between {
    justify-content: space-between;
  }

  &.j-center {
    justify-content: center;
  }

  &.a-items-center {
    align-items: center;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }
}

.flex-1 {
  flex: 1;
}

.d-inline-block{
  display: inline-block!important;
}

.w-100 {
  width: 100%;
}

.display-grid {
  display: grid!important;
}

