.ml-2 {
  margin-left: 10px !important;
}

.mt-2 {
  margin-top: 10px;
}

.mr-2 {
  margin-right: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}

.no-margin {
  margin: 0!important;
}

.buttons-design {
  @include fluid('margin-top', 800px, 1300px, 20px, 30px);
}

.design__data-info {
  @include fluid('margin-top', 320px, 1200px, 20px, 40px);

  .info_design {

    p {
      margin-left: 20px;
    }
  }
}
