<!--<cd-header [marginHeader]="true"></cd-header>-->
<div class="container" *ngIf="user">
  <div>
    <div class="top_bar">
      <div class="display-flex a-items-center">
        <div class="settings_AVATAR display-flex text_center j-center a-items-center overflow-hidden">
          <img
            [src]="'https://api.adorable.io/avatars/285/' + user?.username"
            alt="" class="w-100 h-100 object-cover">
        </div>
        <div class="user_info ml-4" *ngIf="user">
          <h1 class="heading user_info-header">{{user.first_name + ' ' + user.last_name}}</h1>
          <p class="font-size_14 user_info-subtitle">Update your informations and manage your account</p>
        </div>
      </div>
    </div>

    <div class="bottom_bar overflow-hidden">
      <div class="display-flex">
        <div class="side_menu-BAR">
          <ul class="side_menu-items">
            <li class="">
              <a class="side-link" [routerLink]="['account']" routerLinkActive="side-link_active">{{'settings.edit.name' | translate}}</a>
              <ul class="nested_links">
                <li><a [routerLink]="['account']" class="side-link inside_link" routerLinkActive="side-link_active">{{'settings.edit.public' | translate}}</a></li>
                <li><a [routerLink]="['work']" class="side-link inside_link" routerLinkActive="side-link_active">{{'settings.edit.work' | translate}}</a></li>
              </ul>
            </li>
            <li class=""><a class="side-link" [routerLink]="['account-settings']" routerLinkActive="side-link_active">{{'settings.account' | translate}}</a></li>
            <li class=""><a class="side-link" [routerLink]="['password']" routerLinkActive="side-link_active">{{'settings.password' | translate}}</a></li>
          </ul>
        </div>
        <div class="inputs_settings">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
