<!--<cd-header marginHeader="true"></cd-header>-->
<div class="container">
  <p class="font-size_18 results-text">Results for <span class="font-bold">Snapchat</span></p>

  <div class="tabs-segment-search display-grid no-touch">
    <div class="tab-segment-button tab-segment-button_active pointer_link">Projects</div>
    <div class="tab-segment-button ml-2 link pointer_link">Users</div>
  </div>

  <div class="grid_posts grid-four-columns mt-2">
    <div class="grid-item" *ngFor="let p of [0,1,2,3,4,5,6,7,8,9,10,11,12]; let i = index">
      <div class="image-grid position-relative">
        <cd-skeleton></cd-skeleton>
      </div>
      <div class="mt-2 flex-1 text_card font-size_14">
        <p class="cd-link card-title card-title_skeleton position-relative">
          <cd-skeleton></cd-skeleton>
        </p>
        <a class="cd-link card-link card-link_skeleton font-size_12 position-relative">
          <cd-skeleton></cd-skeleton>
        </a>
      </div>
    </div>
  </div>
</div>
<!--<cd-footer></cd-footer>-->
